{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section class="main-section">
        <div class="inner-div">
            <div class="img-div">
                <img src="{% static 'img/icons/Key.png' %}" alt="password message image">
            </div>
            
            <h3>Check Your Email</h3>
            {% if request.session.reset_email %}
                <p>We've sent a reset password link to <b>{{ request.session.reset_email }}</b></p>

                {% with request.session.reset_email as email %}
                    {% if '@gmail.com' in email %}
                        <a href="https://mail.google.com/" target="_blank" class="open-mail">Open Gmail</a>
                    {% elif '@yahoo.com' in email %}
                        <a href="https://mail.yahoo.com/" target="_blank" class="open-mail">Open Yahoo Mail</a>
                    {% elif '@outlook.com' in email %}
                        <a href="https://outlook.live.com/" target="_blank" class="open-mail">Open Outlook</a>
                    {% else %}
                        <p>Please check your email inbox manually.</p>
                    {% endif %}
                {% endwith %}
            {% else %}
                <p>If your email is registered with us, you will receive an email shortly.</p>
            {% endif %}

            <div class="no-mail-div">
                <span>Didn't receive any mail?</span> <a href="{% url 'login' %}" class="resend-mail">Click to resend</a><br>
                <a href="{% url 'login' %}">Back to login</a>
            </div>

        </div>
    </section>
    
</body>
</html>