{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section class="main-section">
        <div class="inner-div">
            <div class="img-div">
                <img src="{% static 'img/Key.png' %}" alt="password key image">
            </div>
            
            <h3>Forgot Password?</h3>
            <p>No worries, we will send you reset instruction</p>
            <form method="POST">
                {% csrf_token %}
                <!--<label for="email">Email:</label>-->
                <div class="input-container">
                    <i class="fa-regular fa-envelope-o icon" aria-hidden="true"></i>
                    <input class="form-input" type="email" placeholder="Enter your email" name="{{ form.email.name}}" value="{{ form.email.value|default:''}}" id="{{ form.email.id_for_label}}" autocomplete="email"  required/>
                    <i class="eye-icon-text fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <button class="submit-button" type="submit">Reset Password</button>
            </form>
            <a href="{% url 'login' %}">Back to login</a>
        </div>
    </section>
    
</body>
</html>