<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>community list</title>
        <link rel="stylesheet" href="community-list.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="back-arrow">
            <a href="community.html">
                <img src="images/arrow-left.png">
            </a> 
        </div>
        <div class="search">
            <div class="rectangle">
                <div class="search-a-course">Search a course</div>
            </div>
            <div class="settings-icon">
                <img src="images/Vector.png">
            </div>
        </div>

        <div class="first-container">
            <div class="community-picture-background">
                <div class="community-picture-frame1">
                    <div class="community-picture1">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1b">
                    <div class="community-picture1b">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1c">
                    <div class="community-picture1c">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1d">
                    <div class="community-picture1d">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="community-picture-background2">
                <div class="community-picture-frame2">
                    <div class="community-picture2">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social2">
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2b">
                    <div class="community-picture2b">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">student | Buiness plan</div>
                        <div class="social2">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2c">
                    <div class="community-picture2c">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2d">
                    <div class="community-picture2d">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="second-container">
            <div class="community-picture-background">
                <div class="community-picture-frame1">
                    <div class="community-picture1">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section1">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1b">
                    <div class="community-picture1b">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section1">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1c">
                    <div class="community-picture1c">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section1">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame1d">
                    <div class="community-picture1d">
                        <img src="images/female.png">
                    </div>
                    <div class="card-section1">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Mentor | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="community-picture-background2">
                <div class="community-picture-frame2">
                    <div class="community-picture2">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2a">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social2">
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2b">
                    <div class="community-picture2b">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2a">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">student | Buiness plan</div>
                        <div class="social2">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2c">
                    <div class="community-picture2c">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2a">
                        <div class="name">John Chioma</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="community-picture-frame2d">
                    <div class="community-picture2d">
                        <img src="images/male.png">
                    </div>
                    <div class="card-section2a">
                        <div class="name">Johnson Ola</div>
                        <div class="mentor">Student | Buiness plan</div>
                        <div class="social">
                            <div class="instagram">
                                <div class="circle">
                                    <img src="images/instagram.png">
                                </div>
                            </div>
                            <div class="twitter">
                                <div class="circle">
                                    <img src="images/twitterX.png">
                                </div>
                            </div>
                            <div class="linkedin">
                                <div class="circle">
                                    <img src="images/linkedin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mobile-responsive-container">
            <div class="mobile-responsive-background1">
                <div class="responsive-picture">
                    <img src="images/female.png">
                </div>
                <div class="mobile-responsive-card">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="images/instagram.png">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="images/twitterX.png">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="images/linkedin.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/chevron-right.png">
                </div>
            </div>
            <div class="mobile-responsive-background2">
                <div class="responsive-picture">
                    <img src="images/female.png">
                </div>
                <div class="mobile-responsive-card">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="images/instagram.png">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="images/twitterX.png">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="images/linkedin.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/chevron-right.png">
                </div>
            </div>
            <div class="mobile-responsive-background3">
                <div class="responsive-picture">
                    <img src="images/female.png">
                </div>
                <div class="mobile-responsive-card">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="images/instagram.png">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="images/twitterX.png">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="images/linkedin.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/chevron-right.png">
                </div>
            </div>
            <div class="mobile-responsive-background4">
                <div class="responsive-picture">
                    <img src="images/female.png">
                </div>
                <div class="mobile-responsive-card">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="images/instagram.png">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="images/twitterX.png">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="images/linkedin.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/chevron-right.png">
                </div>
            </div>
            <div class="mobile-responsive-background5">
                <div class="responsive-picture">
                    <img src="images/female.png">
                </div>
                <div class="mobile-responsive-card">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="images/instagram.png">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="images/twitterX.png">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="images/linkedin.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow">
                    <img src="images/chevron-right.png">
                </div>
            </div>
        </div>       
    </body>
</html>