.main-section {
    box-shadow: 0px 2px 4px 4px #C8C8C840;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 75px;
    text-align: center;
}

.inner-div {
    margin-top: 90px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 90px;
    border: 2px solid red;
}

.img-div {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border:6px solid #A4A9C275;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
}

input[type="email"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #888;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    outline: none;
    box-sizing: border-box;
    min-width: 100%;
}

.fa-regular {
    width: auto;
    color: #888;
    background-color: red;
}

.eye-icon-text {
    display: none;
    visibility: hidden;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: pink;
}

.input-container input {
    padding-left: 60px;
}

.input-container .icon {
    position: absolute;
    left: 50px;
    top: 15px;
    transform: translateY(-50%);
    font-size:;
    pointer-events: none; /* Prevent icon from affection input focus */

}

.submit-button {
    width: 100%;
    /*width: Hug (463px)px;
    height: Hug (51px)px;*/
    /*padding: 10px 113.5px 10px 113.5px;*/
    padding: 10px 20px 10px 20px;
    /*gap: 10px;*/
    border-radius: 30px;
    opacity: 0px;
    background: #141E61;
    box-shadow: 0px 3px 4px 0px #00000040;
    color: white;
    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

    border: none;
    margin-bottom: 30px;
    
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

    text-align: center;
    text-decoration: none;
    color: #141E61;
    /*margin-top: 30px;*/
}

@media only screen and (max-width: 260px) {
    .main-section {
        box-shadow: none;
    }
}

@media only screen and (min-width: 769px) {
    .main-section {
        margin: 80px;
    }

    .inner-div {
        margin-top: 120px;
        margin-bottom: 200px;
    }

    .img-div {
        width: 64px;
        height: 64px;
    }

    h3 {
    
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-bottom: 35px;
    
    }

    input[type="email"] {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
        text-align: left;

    }

    .submit-button {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        outline: none;
        border: none;
        margin-bottom: 43px;
        padding: 12px 158.5px 12px 158.5px;
    }

    a {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        text-decoration: none;
        margin-top: 43px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .inner-div {
        margin-left: 30px;
        margin-right: 30px;
        width: 450px;
    }

    .submit-button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .inner-div {
        width: 512px;
    }   
}