body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* heading sytles h1 - h6 */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

/* Poppins CSS classes */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* header style */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #D8D7D7;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

/* logo style */
.logo {
    margin-left: 0;
    width: auto;
    /*height: 89px;*/
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 0px;
    padding: 10px 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.dropdown-button {
  display: inline-flex;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
}

/* Courses drop down icon styles */
.chevron-down {
  transition: 0.3s;
}

.chevron-up {
  transform: translateY(0%) rotate(180deg);
  transition: 0.3s;
}

/* Animation for the dropdown contents */
@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: max-content;
  }
}

/* Dropdown content styles */
.dropdown-content {
  display: contents;
  position:static;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out;
  /*left: auto;*/
  width: 100%;
  max-height: max-content;
  flex-direction: column;
  padding: 20px;
  align-items:start;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0px 2px 5px rgba(207, 201, 201, 0.726);*/
  list-style: none;
  /*overflow: hidden;*/
  transition: max-height 0.3s ease-out;
  z-index: 9999;
  display: none;
}

/*
.dropdown-content li a {
  border: 2px solid orange;
}
  */

.dropdown-content.show {
    display:block;
    transition: all 0.3s;
    animation: slideDown 0.3s ease-out;
}

.dropdown-button.show + .dropdown-content {
  max-height: 150px;
  opacity: 1;
}
/* Menu icon styles */
.menu-icon {
    display: block;
    /*font-size: 24px;*/
    width: 20px;
    height: 20px;
    top: 35px;
    left: 340px;
    cursor: pointer;
    transition: 0.3s;
}

/* Rotate menu */
.rotate-hamburger {
  transform: translateY(0%) rotate(180deg);
  transition: 0.3s;
}

/* Signup */
.signup {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

/********************************
***********FOOTER STYLE**********
**********(GENERAL)**************/
footer {
  background-color: #0D1020;
  color: #FFF;
  font-size: 14px;
  width: 100%;
  /*position: absolute;*/
  padding:20px 0;

}

footer>section {
  margin: 5em 0;
  padding: 0 3em;
}
.edubridge-main-div p {
  margin: 0;
  line-height: 24px;
}

.edubridge-div {
  margin: 0;
}

.edubridge-div  h4{
  margin-bottom: 0;
  /*line-height: 48px;*/
  padding: 0;
}

.edubridge-div img {
  margin-top: 0;
  padding: 2px;
  max-width: 128px;
  position: relative;
  top: -8px;
}

.enroll-button {
  background: #141E61A6;
  border-radius: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 25px;
  text-decoration: none;
  
}

ul {
  padding-left: 0;
  margin-top: 0;
}

ul li {
  list-style-type: none;
  margin-left: 0;
}
ul li a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
}

.company-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.support-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
} 

.legal-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.company-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.company-support-legal-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-div ul li {
  margin: 0.5em 0;
}

.support-div ul li {
  margin: 0.5em 0;
}

.legal-div ul li {
  margin: 0.5em 0;
}

/* Media div styles */
.media-div {
  max-width: fit-content;
}

.media-div h6{
  margin-bottom: 0.5em;
}

/* media links style */
.media-div a {
  cursor: pointer;
}
.media-div a img {
  width: 33.75px;
  height: 30px;
}

.copyright-div {
  display: block;
  background-color: #141E61;
  max-width: auto;
  padding: 18px 0;
  margin: 3em 3em;
  border-radius: 10px;
  text-align: center;
}
/*
*
*
*
*
*
*
/
/* Responsive styles */
/* Very small devices */
@media only screen and (max-width: 420px){
  header {
    display: block;
  }

  .logo {
    width: auto;
    height: auto;
  }

  header>.menu-icon {
    display: none;
  }

  header>nav {
    display: block;
    width: 100%;
    z-index: 9999;
    background-color: #FFF;
  }

  /**footer styles**/
  footer {
    text-align: center;
  }
  .company-support-legal-div {
    display: block;
  }

  .media-div {
    display: block;
    text-align: center;
  }
}
/* For mobile devices */
@media only screen and (max-width: 768px) {
    body {
	    font-size: 14px;
    }

  header {
    display: flex;
    justify-content: space-between;
  }

  /* Add an animation to the nav */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  nav {
	  width: 50%;
    /*margin: 0 100px;*/
    display: none;
    transition: opacity 1s;
    position: absolute;
    top: -60px;
    right: 0px;
    z-index: 999;
    background-color: white;
    /*animation: slideOut 0.3s ease-in-out;*/
  }
	
  nav.active {
    opacity: 1;
    display: block;
    transform: translateX(0);
    animation: slideIn 0.3s ease-in-out;
  }

  nav>ul {
      display: block;
      position: absolute;
      right:0;
      margin: 10vh 0;
      /*height: 100vh;*/
      top: 14vh;
	    /*flex-direction: column;*/
	    width: 100%;
	    text-align: center;
	    /*border-top: 1px solid #888888;*/
	    /*border-bottom: 1px solid #888888;*/
      border-radius: 5px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      /*margin: 0 10px;*/
      /*z-index: 999;*/
  }

  nav ul li {
	    margin-top: 2px;
	    margin-bottom: 2px;
  }

  .menu-icon {
	    display: block;
  }

  .dropdown-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dropdown-content.show {
    display: contents;
  }
}

/*@media (max-width: 768px) {
    .menu-icon.active + nav ul {
        display: flex;
    }
}*/

/**************************
***************************
***STARTING FOR LAPTOPS***/
@media (min-width: 768px) {

    nav ul {
	      display: flex;
    }

    .logo {
      width: auto;
      /*height: 75px;*/
    }

    nav ul li {
	      margin-left: 20px;
    }

    nav ul li .login {
      margin-left: 65px;
      border: 1px solid;
      border-color: #141E61;
      color: #141E61;
    }

    .login, .signup {
      border-radius: 30px;
      padding: 12px 48px 12px 48px;
    }

    .signup {
      background-color: #141E61;
      color: #FFF;
      font-weight: 400;
    }

    .menu-icon {
	      display: none;
  }

  .dropdown-content {
    width: 10%;
    display: none;
    position: absolute;
    max-height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(207, 201, 201, 0.726);
    text-align: center;
  }

  .dropdown-content li {
    position: relative;
    margin: 0;
  }

}

/***************This media query is specifically for the responsiveness
of the footer section *********************************************/
@media (min-width: 850px) {
  /*******************
  *******FOOTER*******
  ******STYLES********/
  footer>section {
    display: flex;
    justify-content:flex-start;
    align-items: first baseline;
  }

  .edubridge-main-div {
    flex-grow: 0;
  }

  .company-support-legal-div {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

  .media-div {
    flex-grow: 0;
  }

}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  nav ul li a {
    font-size: 18px;
  } 
}

/* For small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
      width: auto;
      overflow-x: hidden;
    }
    nav ul li a {
	    font-size: 14px;
    }
    .dropdown-button, .dropdown-content {
      font-size: 14px;
    }
    
}

/* For desktops */
@media only screen and (min-width: 1025px) {
    body {
	    font-size: 18px;
    }

    footer>section {
      margin: 5em 0;
      padding: 0 10em;
    }

    .copyright-div {
      padding: 18px 0;
      margin: 2em 10em;
    }
}
