{% extends 'base.html' %}
{% load static %}

{% block title %}
Pricing
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'core/css/home.css'%}">

<!--AOS (Animate on Scroll)-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
{% endblock %}

{% block content %}
<div style="margin-top: 90px;" class="messages">
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<h2>
    We've got a plan that's perfect for you
</h2>


<!--
******************
******************
Plans section
******************
******************
-->
<section data-aos="fade-up" class="plans-section">
    <div id="plans" class="plans-header">
        <h3>Plans</h3>
        <img src="{% static 'core/img/icons/plans-hr.png' %}" alt="horizontal line">
        <p>
            Choose a plan that is right for you, and start a free trial for two weeks.
        </p>
    </div>

    <div class="plans-div">
        <!--Start Plan Section Div-->
        <div class="plan-div">
            <p class="plan-period">Daily</p>
            <p class="plan-price">$5</p>
            <span class="plan-per-period">/hour</span>
            <br>
            <br>
            <ul class="plan-desc">
                <li>Business mailing address</li>
                <li>Limited access to meeting rooms</li>
                <li>Access to networking events</li>
                <li>Discounted rates on day passes</li>
            </ul>
            <br>
            <br>
            <a href="" class="plan-enroll-now-button">Enroll now</a>
        </div>
        <!--End Plan Section Div-->


        <!--Start Plan Section Div-->
        <div class="plan-div">
            <p class="plan-period">Yearly</p>
            <p class="plan-price">$150</p>
            <span class="plan-per-period">/year</span>
            <br>
            <br>
            <ul class="plan-desc">
                <li>Business mailing address</li>
                <li>Limited access to meeting rooms</li>
                <li>Access to networking events</li>
                <li>Discounted rates on day passes</li>
            </ul>
            <br>
            <br>
            <a href="" class="plan-enroll-now-button">Enroll now</a>
        </div>
        <!--End Plan Section Div-->


        <!--Start Plan Section Div-->
        <div class="plan-div">
            <p class="plan-period">Monthly</p>
            <p class="plan-price">$25</p>
            <span class="plan-per-period">/month</span>
            <br>
            <br>
            <ul class="plan-desc">
                <li>Business mailing address</li>
                <li>Limited access to meeting rooms</li>
                <li>Access to networking events</li>
                <li>Discounted rates on day passes</li>
            </ul>
            <br>
            <br>
            <a href="" class="plan-enroll-now-button">Enroll now</a>
        </div>
        <!--End Plan Section Div-->
    </div>
</section>



<!--JavaScript Link-->
<script src="{% static 'core/js/home.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<!--Scroll reveal-->
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}