body
{
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
    background-color: #ffffff;
    place-items: center;
    display: grid;
}
.search
{
    width: 669px;
    height: 50px;
    display: flex;
    margin-top: 50px;
    place-items: center;
}
.rectangle
{
    width: 621px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #b1afaf;
    background-color: #ffffff;
}
.search-a-course
{
    width: 150px;
    height: 24px;
    font-family:  "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -5%;
    color: #b1afaf;
    margin: 10px;
    margin-left: 30px;
}
.settings-icon
{
    width: 40px;
    height: 40px;
    margin-top: 2.5px;
    margin-left: 5px;
}
.settings-icon img
{
    width: 26.67px;
    height: 30.01px;
    margin-top: 5px;
    margin-left: 6.67px;
    color: #6f6f6f;
}

.first-container
{
    width: auto;
    height: 730px;
    display: grid;
    margin-top: 50px;
}
.community-picture-background
{
    width: auto;
    height: 335px;
    display: flex;
}
.community-picture-frame1
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame1b, .community-picture-frame1c,
.community-picture-frame1d
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 200px;
    border-radius: 20px;
}
.community-picture1 img, .community-picture1b img,
.community-picture1c img, .community-picture1d img
{
    width: 233px;
    height: 268px;
    border-radius: 20px;
}
.card-section
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 340px;
    margin: 10px;
    border-radius: 20px;
}
.name
{
    width: 114px;
    height: 19px;
    font: "Poppins", sans-serif;
    font-weight: 600;
    size: 16px;
    line-height: 19.2px;
    color: #141E61;
    margin-left: 20px;
    margin-top: 20px;
}
.mentor
{
    width: 153px;
    height: 25px;
    font: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    margin-left: 20px;
    color: #6f6f6f;
}
.social
{
    width: 104px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.instagram, .twitter,
.linkedin
{
    width: 28px;
    height: 28px;
}
.circle
{
    width: 23.33px;
    width: 23.33px;
    border-radius: 50px;
    background-color: #B6B4B4;
}
.circle img
{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    margin-top: 2px;
}
.community-picture-background2
{
    width: auto;
    height: 335px;
    display: flex;
    margin-top: 50px;
}
.community-picture-frame2
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame2
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
}
.community-picture-frame2b, .community-picture-frame2c,
.community-picture-frame2d
{
    width: 233px;
    height: 335px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 200px;
    border-radius: 20px;
}
.community-picture2 img, .community-picture2b img,
.community-picture2c img, .community-picture2d img
{
    width: 233px;
    height: 268px;
    border-radius: 20px;
}
.card-section2
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 740px;
    margin: 10px;
    border-radius: 20px;
}
.social2
{
    width: 104px;
    height: 28px;
    display: flex;
    gap: 5px;
    margin-left: 20px;
}
.second-container
{
    width: auto;
    height: 730px;
    display: grid;
    margin-top: 50px;
}
.card-section1
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 1130px;
    margin: 10px;
    border-radius: 20px;
}
.card-section2a
{
    width: 209px;
    height: 137px;
    display: grid;
    background-color:  #f7f7f7;
    position: absolute;
    top: 1520px;
    margin: 10px;
    border-radius: 20px;
}
.mobile-responsive-container
{
    display: none;
}
.back-arrow
{
    display: none;
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px)
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .back-arrow
    {
        height: 24px;
        width: 24px;
        margin-top: 30px;
        margin-left: -300px
    }
    .back-arrow
    {
        height: 24px;
        width: 24px;
        display: flex;
    }
    .search
    {   width: auto;
        height: 40px;
        display: flex;
        margin-left: 0px;
        margin-top: 50px;
        place-items: center;
        
    }
    .rectangle
    {
        width: 314px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid #b1afaf;
        background-color: #ffffff;
    }
    .search-a-course
    {
        width: auto;
        height: 18px;
        font-family:  "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -5%;
        color: #b1afaf;
        margin: 10px;
        margin-left: 15px;
    }
    .settings-icon
    {
        width: 28px;
        height: 28px;
        margin-top: 1.25px;
        margin-left: 2.5px;
    }
    .settings-icon img
    {
        width: 18.67px;
        height: 21.01px;
        margin-top: 2.5px;
        margin-left: 3.35px;
        color: #6f6f6f;
    }
    .first-container, .second-container
    {
        display: none;
    }
    .mobile-responsive-container
    {
        width: auto;
        display: grid;
        height: 640px;
        place-items: center;
        margin-top: 50px;
    }
    .mobile-responsive-background1,.mobile-responsive-background2,
    .mobile-responsive-background3, .mobile-responsive-background4,
    .mobile-responsive-background5
    {
        width: 350px;
        height: 120px;
        border: 1px solid;
        border-radius: 20px;
        display: flex;
        color: #888888;
        background-color: #ffffff;
    }
    .responsive-picture
    {
        width: 88px;
        height: 80px;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    .responsive-picture img
    {
        width: 88px;
        height: 80px;
        border-radius: 20px;
    }
    .mobile-responsive-card
    {
        width: 200px;
    }
    .name
    {
        width: 199px;
        height: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        font-family:   "Poppins", sans-serif;
    }
    .mentor
    {
        width: 179px;
        height: 21px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
    }
    .social
    {
        width: 92px;
        height: 24px;
        margin-top: 10px;
    }
    .circle
    {
        width: 20px;
        height: 20px;
    }
    .circle img
    {
        width: 12px;
        height: 12px;
        margin-left: 3.5px;
        margin-top: 3.5px;
    }
    .arrow
    {
        place-items: center;
        display: flex;
        margin-left: 0px;
    }
    .arrow img
    {
        width: 18px;
        height: 18px;
    }

}   

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px)

{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .back-arrow
    {
        height: 24px;
        width: 24px;
        margin-top: 30px;
        margin-left: -300px
    }
    .back-arrow
    {
        height: 24px;
        width: 24px;
        display: flex;
    }
    .search
    {   width: auto;
        height: 40px;
        display: flex;
        margin-left: 0px;
        margin-top: 50px;
        place-items: center;
        
    }
    .rectangle
    {
        width: 314px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid #b1afaf;
        background-color: #ffffff;
    }
    .search-a-course
    {
        width: auto;
        height: 18px;
        font-family:  "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -5%;
        color: #b1afaf;
        margin: 10px;
        margin-left: 15px;
    }
    .settings-icon
    {
        width: 28px;
        height: 28px;
        margin-top: 1.25px;
        margin-left: 2.5px;
    }
    .settings-icon img
    {
        width: 18.67px;
        height: 21.01px;
        margin-top: 2.5px;
        margin-left: 3.35px;
        color: #6f6f6f;
    }
    .first-container, .second-container
    {
        display: none;
    }
    .mobile-responsive-container
    {
        width: auto;
        display: grid;
        height: 640px;
        place-items: center;
        margin-top: 50px;
    }
    .mobile-responsive-background1,.mobile-responsive-background2,
    .mobile-responsive-background3, .mobile-responsive-background4,
    .mobile-responsive-background5
    {
        width: 350px;
        height: 120px;
        border: 1px solid;
        border-radius: 20px;
        display: flex;
        color: #888888;
        background-color: #ffffff;
    }
    .responsive-picture
    {
        width: 88px;
        height: 80px;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    .responsive-picture img
    {
        width: 88px;
        height: 80px;
        border-radius: 20px;
    }
    .mobile-responsive-card
    {
        width: 200px;
    }
    .name
    {
        width: 199px;
        height: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        font-family:   "Poppins", sans-serif;
    }
    .mentor
    {
        width: 179px;
        height: 21px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
    }
    .social
    {
        width: 92px;
        height: 24px;
        margin-top: 10px;
    }
    .circle
    {
        width: 20px;
        height: 20px;
    }
    .circle img
    {
        width: 12px;
        height: 12px;
        margin-left: 3.5px;
        margin-top: 3.5px;
    }
    .arrow
    {
        place-items: center;
        display: flex;
        margin-left: 0px;
    }
    .arrow img
    {
        width: 18px;
        height: 18px;
    }

}   

/* Medium devices (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px)
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .first-container, .second-container
    {
        display: grid;
        place-items: center;
    }
    .community-picture-background,
    .community-picture-background2
    {
        place-items: center;
    }
    .community-picture-frame1
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 20px;
        place-items: center;
    }
    .community-picture-frame1b, .community-picture-frame1c,
    .community-picture-frame1d
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        border-radius: 20px;
        place-items: center;
    }
    .community-picture1 img, .community-picture1b img,
    .community-picture1c img, .community-picture1d img
    {
        width: 170px;
        height: 205px;
        border-radius: 20px;
    }
    .community-picture-frame2
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 20px;
        place-items: center;
    }
    .community-picture-frame2b, .community-picture-frame2c,
    .community-picture-frame2d
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        border-radius: 20px;
        place-items: center;
    }
    .community-picture2 img, .community-picture2b img,
    .community-picture2c img, .community-picture2d img
    {
        width: 170px;
        height: 205px;
        border-radius: 20px;
    }
    .card-section
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 370px;
        border-radius: 20px;
    }
    .card-section1
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 1150px;
        border-radius: 20px;
    }
    .card-section2
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 760px;
        border-radius: 20px;
    }
    .card-section2a
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 1540px;
        border-radius: 20px;
    }
    .name
    {
        width: 114px;
        height: 19px;
        font: "Poppins", sans-serif;
        font-weight: 600;
        size: 16px;
        line-height: 19.2px;
        color: #141E61;
        margin-left: 10px;
        margin-top: 20px;
    }
    .mentor
    {
        width: 153px;
        height: 25px;
        font: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23.8px;
        margin-left: 10px;
        color: #6f6f6f;
    }
    .social
    {
        width: 104px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }

}
/* Large devices (laptops and desktops, 1025px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .first-container, .second-container
    {
        display: grid;
        place-items: center;
    }
    .community-picture-background,
    .community-picture-background2
    {
        place-items: center;
    }
    .community-picture-frame1
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 20px;
        place-items: center;
    }
    .community-picture-frame1b, .community-picture-frame1c,
    .community-picture-frame1d
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        border-radius: 20px;
        place-items: center;
    }
    .community-picture1 img, .community-picture1b img,
    .community-picture1c img, .community-picture1d img
    {
        width: 170px;
        height: 205px;
        border-radius: 20px;
    }
    .community-picture-frame2
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 20px;
        place-items: center;
    }
    .community-picture-frame2b, .community-picture-frame2c,
    .community-picture-frame2d
    {
        width: 170px;
        height: 272px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 30px;
        border-radius: 20px;
        place-items: center;
    }
    .community-picture2 img, .community-picture2b img,
    .community-picture2c img, .community-picture2d img
    {
        width: 170px;
        height: 205px;
        border-radius: 20px;
    }
    .card-section
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 370px;
        border-radius: 20px;
    }
    .card-section1
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 1150px;
        border-radius: 20px;
    }
    .card-section2
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 760px;
        border-radius: 20px;
    }
    .card-section2a
    {
        width: 136px;
        height: 107px;
        display: grid;
        background-color:  #f7f7f7;
        position: absolute;
        top: 1540px;
        border-radius: 20px;
    }
    .name
    {
        width: 114px;
        height: 19px;
        font: "Poppins", sans-serif;
        font-weight: 600;
        size: 16px;
        line-height: 19.2px;
        color: #141E61;
        margin-left: 10px;
        margin-top: 20px;
    }
    .mentor
    {
        width: 153px;
        height: 25px;
        font: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 23.8px;
        margin-left: 10px;
        color: #6f6f6f;
    }
    .social
    {
        width: 104px;
        height: 28px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
}

/* Large devices (laptops and desktops, 1440px) */
@media only screen and (min-width: 1201px) and (max-width: 1440px)
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .first-container, .second-container
    {
        display: grid;
        place-items: center;
    }
    .community-picture-background,
    .community-picture-background2
    {
        place-items: center;
    }
    .community-picture-frame1b, .community-picture-frame1c,
    .community-picture-frame1d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 60px;
        border-radius: 20px;
    }
    .community-picture-frame2b, .community-picture-frame2c,
    .community-picture-frame2d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 60px;
        border-radius: 20px;
    }

}

@media only screen and (min-width: 1441px) and (max-width: 1600px)
/* Large devices (laptops and desktops, 1440px) */
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .first-container, .second-container
    {
        display: grid;
        place-items: center;
    }
    .community-picture-background,
    .community-picture-background2
    {
        place-items: center;
    }
    .community-picture-frame1b, .community-picture-frame1c,
    .community-picture-frame1d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 100px;
        border-radius: 20px;
    }
    .community-picture-frame2b, .community-picture-frame2c,
    .community-picture-frame2d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 100px;
        border-radius: 20px;
    }

}

@media only screen and (min-width: 2560px)
/* Large devices (laptops and desktops, 1440px) */
{
    body
    {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        place-content: center;
        display: grid;
    }
    .first-container, .second-container
    {
        display: grid;
        place-items: center;
    }
    .community-picture-background,
    .community-picture-background2
    {
        place-items: center;
    }
    .community-picture-frame1b, .community-picture-frame1c,
    .community-picture-frame1d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 300px;
        border-radius: 20px;
    }
    .community-picture-frame2b, .community-picture-frame2c,
    .community-picture-frame2d
    {
        width: 233px;
        height: 335px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 300px;
        border-radius: 20px;
    }

}