{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">


<div style="margin-top: 83px;" class="first-container">
    <div class="rectangle">
        <img src="{% static 'core/images/first-container-image.png' %}">
    </div>
    <div class="first-container-text-background">
        <div class="about">About Us</div>
        <div class="we">We empower young entrepreneurs through our courses to accomplish extraordinary things</div>
    </div>    
</div>

<div class="second-container">
    <div class="our">Our Mission & Vision
        <img src="{% static 'core/images/line.png' %}">
    </div>
    <div class="picture-frame">
        <div class="picture-frame-rectangle">
            <img src="{% static 'core/images/second-container-image.png' %}">
        </div>
        <div class="content-frame-rectangle">
            <div class="first-content">
                <div class="first-content-text1">Mission</div>
                <div class="first-content-text2">At EduBridge, our mission is to empower learners by providing accessible, high-quality business education that fosters innovation and practical skills.</div>
            </div>
            <div class="second-content">
                <div class="second-content-text1">Vision</div>
                <div class="second-content-text2">At Edubridge, our vision is to be the leading platform for business education, shaping future leaders and entrepreneurs through transformative and innovative learning experiences</div>
            </div>
        </div>
    </div>
</div>

<div class="third-container">
    <div class="what">What We Offer
        <img src="{% static 'core/images/line.png' %}">
    </div>
    <div class="third-container-rectangle">
        <div class="third-container-rectangle1">
            <div class="third-container-rectangle-image1">
                <img src="{% static 'core/images/Library.png' %}">
            </div>
            <div class="third-container-rectangle-text1">Access to several courses across various fields</div>
        </div>
        <div class="third-container-rectangle2">
            <div class="third-container-rectangle-image2">
                <img src="{% static 'core/images/community.png' %}">
            </div>
            <div class="third-container-rectangle-text2">Strong &  Reliable Community</div>
        </div>
        <div class="third-container-rectangle3">
            <div class="third-container-rectangle-image3">
                <img src="{% static 'core/images/plan.png' %}">
            </div>
            <div class="third-container-rectangle-text3">Affordable plans</div>
        </div>
    </div>
</div>

<div class="fourth-container">
    <div class="fourth-container-header-text">Meet Our Team 
        <img src="{% static 'core/images/line.png'  %}">
    </div>

    <div class="fourth-container-picture-frame">
        <div class="fourth-container-picture1">
            <div class="fourth-container-picture-background-rectangle1a">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="fourth-container-picture-text">Pearl Osamede</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1b">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Joshua</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1c">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture3.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Ogamba</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1d">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture4.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Shulamite</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
        </div>
        <div class="fourth-container-picture2">
            <div class="fourth-container-picture-background-rectangle1a">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="fourth-container-picture-text">Pearl Osamede</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1b">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Joshua</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1c">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture3.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Ogamba</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
        </div>
        <div class="fourth-container-picture3">
            <div class="fourth-container-picture-background-rectangle1a">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="fourth-container-picture-text">Pearl Osamede</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1b">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Joshua</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1c">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture3.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Ogamba</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
            <div class="fourth-container-picture-background-rectangle1d">
                <div class="fourth-container-picture-area">
                    <img src="{% static 'core/images/picture4.png' %}">
                </div>
                <div class="fourth-container-picture-text">Chisom Shulamite</div>
                <div class="fourth-container-header-texta">UI/UX Designer</div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-responsiveness">
    <div class="mobile-responsiveness-header-text">Meet Our Team 
        <img src="{% static 'core/images/line.png' %}">
    </div>

    <div class="mobile-responsiveness-picture-frame">
        <div class="mobile-responsiveness-picture-background-frame1">
            <div class="mobile-responsiveness-picture-background-rectangle1">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Pearl Osamede</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
            <div class="mobile-responsiveness-picture-background-rectangle1a">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Chisom Joshua</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
        </div>

        <div class="mobile-responsiveness-picture-background-frame2">
            <div class="mobile-responsiveness-picture-background-rectangle1">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Pearl Osamede</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
            <div class="mobile-responsiveness-picture-background-rectangle1a">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Chisom Joshua</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
        </div>

        <div class="mobile-responsiveness-picture-background-frame3">
            <div class="mobile-responsiveness-picture-background-rectangle1">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Pearl Osamede</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
            <div class="mobile-responsiveness-picture-background-rectangle1a">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Chisom Joshua</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
        </div>

        <div class="mobile-responsiveness-picture-background-frame4">
            <div class="mobile-responsiveness-picture-background-rectangle1">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picture1.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Pearl Osamede</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
            <div class="mobile-responsiveness-picture-background-rectangle1a">
                <div class="mobile-responsiveness-picture-area">
                    <img src="{% static 'core/images/picure2.png' %}">
                </div>
                <div class="mobile-responsiveness-picture-text">Chisom Joshua</div>
                <div class="mobile-responsiveness-picture-texta">UI/UX Designer</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}