{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/home.css'%}">
{% endblock %}

{% block content %}
<!--
******************
******************
Main section
******************
******************
-->
<main>
    <div class="home-welcome-div">
        <h1>Welcome To <span>EduBridge</span></h1>
        <p>Develop your skills in a new and unique way.
            Explore a transformative approach to skill development on our
            online learning platform. Uncover a new realm of learning
            experiences.
        </p>
        <div class="home-button-div">
            <a class="home-enroll-button" href="">Enroll now</a>
        </div>
        
    </div>
    
    <div class="home-welcome-image-div">
        <img src="{% static 'core/img/pics/main-section_img.png' %}" alt="welcome image">
    </div>
</main>


<!--
******************
******************
Stats section
******************
******************
-->
<section class="stats-section">
    <div class="stats-box">
        <h3 class="stats-number">100</h3>
        <p class="stats-description">Online Students</p>
    </div>

    <div class="stats-box">
        <h3 class="stats-number">20</h3>
        <p class="stats-description">Expert Mentors</p>
    </div>

    <div class="stats-box">
        <h3 class="stats-number">20+</h3>
        <p class="stats-description">Courses</p>
    </div>

    <div class="stats-box">
        <h3 class="stats-number">10</h3>
        <p class="stats-description">Online videos</p>
    </div>

    <div class="stats-box">
        <h3 class="stats-number">20+</h3>
        <p class="stats-description">Business tools</p>
    </div>
</section>


<!--
******************
******************
Our courses section
******************
******************
-->
<section class="our-courses-section">
    <div class="our-courses-header">
        <h3>Our Courses</h3>
        <img src="{% static 'core/img/icons/horizontal_line.png' %}" alt="horizontal line">
        <p>Discover our most sought-after courses, carefully curated
            to meet the demands of today's learners.
        </p>
    </div>

    <div class="courses-section-div">

        <!--START COURSE SECTION-->
        <div class="course-section">
            <div class="course-thumbnail">
                <img src="{% static 'core/img/pics/course-thumbnail_1.png' %}">
            </div>
            <div class="course-title-rating">
                <p class="course-title">Web Design</p>
                <p class="course-rating"><img src="{% static 'core/img/icons/Star.png' %}"><span>4.9</span></p>
            </div>
            <h6>Web Design and Development</h6>
            <p class="lessons-number"><img src="{% static 'core/img/icons/book-open.png' %}"><span>14 lessons</span></p>
            <hr class="bottom-line">
            <!--<img class="bottom-line" alt="bottom line" src="{% static 'core/img/icons/bottom_line.png' %}">-->
            <div class="course-status-duration">
                <p>Free</p>
                <p>45hrs</p>
            </div>
        </div>
        <!--END COURSE SECTION-->


        <!--START COURSE SECTION-->
        <div class="course-section">
            <div class="course-thumbnail">
                <img src="{% static 'core/img/pics/course-thumbnail_2.png' %}">
            </div>
            <div class="course-title-rating">
                <p class="course-title">Web Design</p>
                <p class="course-rating"><img src="{% static 'core/img/icons/Star.png' %}"><span>4.9</span></p>
            </div>
            <h6>Business Development</h6>
            <p class="lessons-number"><img src="{% static 'core/img/icons/book-open.png' %}"><span>14 lessons</span></p>
            <hr class="bottom-line">
            <!--<img class="bottom-line" alt="bottom line" src="{% static 'core/img/icons/bottom_line.png' %}">-->
            <div class="course-status-duration">
                <p>Free</p>
                <p>45hrs</p>
            </div>
        </div>
        <!--END COURSE SECTION-->


        <!--START COURSE SECTION-->
        <div class="course-section">
            <div class="course-thumbnail">
                <img src="{% static 'core/img/pics/course-thumbnail_3.png' %}">
            </div>
            <div class="course-title-rating">
                <p class="course-title">Web Design</p>
                <p class="course-rating"><img src="{% static 'core/img/icons/Star.png' %}"><span>4.9</span></p>
            </div>
            <h6>Web Design and Development</h6>
            <p class="lessons-number"><img src="{% static 'core/img/icons/book-open.png' %}"><span>14 lessons</span></p>
            <hr class="bottom-line">
            <!--<img class="bottom-line" alt="bottom line" src="{% static 'core/img/icons/bottom_line.png' %}">-->
            <div class="course-status-duration">
                <p>Free</p>
                <p>45hrs</p>
            </div>
        </div>
        <!--END COURSE SECTION-->

        <a class="view-courses-button" href="">View all</a>
    </div>


    </div>
</section>
{% endblock %}