body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-box {
    display: flex;
    /*flex-direction: row;*/
    /*width: 1280px;
    height: 846px;*/
}

#blue-half {
    /*width: 671px;
    height: 846px;*/   
    gap: 0px;
    border-radius: 20px 0px 0px 20px;
    border: 0px 1px 0px 0px;
    background-image: linear-gradient(#4376AB, #141E61);
    align-items: center;
    justify-content: center;
    display: none;
}

#join-us {
    margin-top: 91px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 81px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    color: #FFF;
}


#signup-img, #login-img {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
    height: auto;
}

#white-half {
    width: 330px;
    height: auto;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 56px;
    border-radius: 20px;
    /*border-style: solid;
    border-color: #888888;*/
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 4px #00000040;
    text-align: center;
}

#logo {
    width: 156px;
    height: 55px;
    padding-top: 40px;
}

#create {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

#welcome {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    margin-left: 34px;
    margin-right: 34px;
}

form {
    width: auto;
}

.input-container {
    width: 100%;
    display: relative;
    /*background-color: orange;*/
}

.input-container i {
    color: #999;
}

.fa-user, .fa-envelope-o, .fa-lock {
    transform: translateX(120%);
}

/* For properly positioning the input fields */
.eye-icon-text {
    display: none;
    visibility: hidden;
}
/*-----End------*/

.eye-icon {
    position: relative;
    right: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}

.form-input {
    /*width: 380px;*/
    width: 85%;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 30px;
    color: #888888;
    border-radius: none;
    box-sizing: border-box;
}

input:first-child {
    margin-top: 27px;
}

input[type="text"], input[type="password"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
}

label {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    left: 70px;
    gap: 0px;
    border-radius: 5px;
    border: 2px solid #6F6F6F;
    background-color: red;
}

#signup-button {
    /*width: 380px;
    height: 51px;
    padding: 12px 158.5px 12px 158.5px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    background-color: #141E61;
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;*/

    width: Hug (276px)px;
    height: Hug (41px)px;
    top: 580px;
    left: 57px;
    padding: 10px 113.5px 10px 113.5px;
    gap: 10px;
    border-radius: 20px;
    opacity: 0px;
    background: #141E61;
    box-shadow: 0px 3px 4px 0px #00000040;
    color: #FFF;
    border: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;

}

.checkmark {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

}

.container {
    padding-left: 45px;
    /*padding-right: 20px;*/
    text-align: left;
}

#continue {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    color: black
}

#btn {
    width: 174px;
    height: 56px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    gap: 10px;
    background-color: white;
    padding: 0px;
}

#short-line {
    width: 80px;
    display: inline;
}

/*#login-img, #continue {
    /*transform: scaleX(-1);
}*/

#continue {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: #555;

}

.continue-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
}

#buttons-section {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-top: 20px;

}

.acc-button {
    width: 130px;
    height: 44px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid #888;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background: none;
    color: black;
}

.inbox-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#continue {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#login-span {
    text-decoration: none;
}

.eye-icon {
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

/* Styles for very small devices */
@media only screen and (max-width: 480px) {

}

/* Styles for phones and tablets */
@media only screen and (max-width: 768px) {

}

/* For small laptops and large desktops */
@media only screen and (min-width: 769px) {
    #create {
        font-family: 'Poppins';
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        margin-left: 96px;
        margin-right: 96px;
    }

    #welcome {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        margin-left: 96px;
        margin-right: 96px;
        text-align: left;
    }

    .checkmark {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        color: #555;
    
    }

    #continue {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
    }

    input[type="text"], input[type="password"] {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
    }

    ::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
    }

    input[type="submit"] {
        box-shadow: 0px 3px 4px 0px #00000040;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .acc-button {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        width: 154px;
        height: 46px;

    }

    .inbox-icon {
        width: 18px;
        height: 18px;
    }

    #continue {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {

}

/* For small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #white-half {
        width: 600px;
    }

    form {
        margin-left: 96px;
        margin-right: 96px;
        width: 380px;
    }

    .form-input {
        width: 80%;
    }
}

/* For desktops */
@media only screen and (min-width: 1025px) {
    .main-outer-div {
        margin: 80px; 
        /*box-shadow: 0px 2px 4px 4px #00000040;*/
    }

    #signup-box {
        padding-right: 0;
    }


    #blue-half {
        display: block;
        width: 50%;
    }

    #white-half {
        margin: 0;
        /*width: 50%;*/
        height: auto;
        /*margin-top: 75px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 56px;
        border-radius: 20px;
        /*border-style: solid;
        border-color: #888888;*/
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 4px 4px #00000040;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        width: 50%;
    }
    

    form {
        margin-left: 35px;
        margin-right: 20px;
        width: 380px;
    }

    .form-input {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
        width: 80%;
    }

    input[type="submit"] {
        width: 90%;
    }
}

@media only screen and (min-width: 1300px) {
    #blue-half {
        width: 50%;
    }

    #white-half {
        width: 50%;
        padding-left: 80px;
        padding-right: 80px;
    }
}