{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="styles.css">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <main class="main-outer-div"  data-aos="fade-up">
        <div id="signup-box">
            <div id="blue-half">
                <h2 id="join-us">Join us and unlock Endless possibilities at EduBridge</h2>
                <img id="signup-img" src="{% static 'users/img/assets/image-removebg-preview.png' %}" />
            </div>
            
            <div id="white-half">
                <img id="logo" src="{% static 'users/img/assets/edubridge-logo.png' %}" alt="Logo">
                <h3 id="create">Create Account</h3>
                <p id="welcome">Welcome, create an account and unlock endless possibilities</p>
                
            
                <form method="post">
                    {% csrf_token %}
                    <div class="input-container">
                        <i class="fa-regular fa-user icon"></i>
                        <input  class="form-input" type="text" placeholder="Full name" name="fullname" autocomplete="name"  required/> 
                        <i class="eye-icon-text fa fa-user" aria-hidden="true" id="togglePassword"></i>
                    </div>
                    
                    <div class="input-container">
                        <i class="fa-regular fa-envelope-o" aria-hidden="true"></i>
                        <input class="form-input" type="text" placeholder="Email" name="email" autocomplete="email"  required/>
                        <i class="eye-icon-text fa fa-envelope-o" aria-hidden="true" id="togglePassword"></i>
                    </div>
                    
                    <div class="input-container">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input id="password" class="form-input" type="password" placeholder="Password" name="password" required/>
                        <i class="togglePassword eye-icon fa-regular fa-eye" aria-hidden="true"></i>
                    </div>
                    
                    <div class="input-container">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input id="confirmPassword" class="form-input" type="password" placeholder="Confirm Password" name="password1" required/>
                        <i class="toggleConfirmPassword eye-icon fa-regular fa-eye" aria-hidden="true"></i>
                    </div>


                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark">I agree to terms and conditions</span>
                    </label>
    
                    <input type="submit" value="Sign Up" id="signup-button">
                </form>

                <!--Form errors-->
                {% if form.errors %}
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
              
                 
                <div class="continue-with">
                    <img id="short-line" src="{% static 'users/img/assets/Line 48.png' %}" alt="">
                    <p id="continue">or continue with</p>
                    <img id="short-line" src="{% static 'users/img/assets/Line 48.png' %}" alt="">
                </div>
                 
                 <div id="buttons-section"> 
                    <button class="acc-button"> <img class="inbox-icon" src="{% static 'users/img/assets/google_logo.png' %}" alt=""> Google</button>
                    <button class="acc-button"> <img class="inbox-icon" src="{% static 'users/img/assets/facebook_icon.png' %}" alt=""> Facebook</button>
                </div>
                 <p id="continue">Do you have an account? <a href="" id="login-span">Login</a></p>
            </div>
        </div>
    </main>

    <!--JavaScript Link-->
    <script src="{% static 'users/js/index.js' %}"></script>
</body>