main {
    padding: 2em 5em;
}

.home-enroll-button {
    background-color: #141E61;
    border-radius: 20px;
    padding: 10px 24px 10px 24px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #FFF;
    width: 119px;
    height: 41px;
    cursor: pointer;
}

.home-button-div {
    margin: 3em 0;
}

.home-welcome-div h1 span {
    color: #141E61;
}

.home-welcome-image-div {
    text-align: center;
}

.home-welcome-image-div img {
    width: auto;
    height: 298px;
}

/* Stats Styles */
.stats-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 6em;
}

/* Style the odd stats-box elements */
.stats-section .stats-box:nth-child(odd) {
    border: none;
    margin: auto;
}
.stats-number {
    color: #141E61;
    position: relative;
    top: -0.9em;
}
.stats-box {
    width: 200px;
    height: 30px;
    border-top: none;
    border-bottom: none;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    color: #6F6F6F;
    text-align: center;
    margin: 3em 0;
}

.stats-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #6F6F6F;
    position: relative;
    top: -0.8em;
}

.stats-number {
    margin: 0;
}

.stats-description {
    margin: 0;
}

/***
*********************
*********************
* Courses section div
*********************
*********************
*/
.our-courses-section {
    background: linear-gradient(#141E61, #A5DFFF);
    padding: 2em;
}

.our-courses-header {
    text-align: center;
    color: #FFF;
    margin-top: 3em;
}

/* The horizontal line below
*  the `Our Courses` header
*/
.our-courses-header img {
    position: relative;
    top: -1em;
    width: 190px;
}

.our-courses-header h3 {
    margin: 0;
}

.our-courses-header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27.24px;
}

.arrow-left, .arrow-right {
    display: none;
}

/* Sub section div for courses */
.courses-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}

/* Course section link styles */
.course-section-link {
    text-decoration: none;
    transition: 0.4s;
    color:#6F6F6F;

}

.course-section h6 {
    color: black;
}

.course-section-link:hover {
    opacity: 0.8;
}
/* End of course section link styles */


.course-section {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width:min-content;
    height: 459px;
    background-color: #FFF;
    padding: 0.8em;
    margin: 2em 0;
}

.course-section img {
    width: auto;
}

.course-title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-title-rating p {
    color: #6F6F6F;
}

.course-section h6 {
    margin: 0;
    width: 100%;
}

/* star icon style */
.course-rating img{
    position: relative;
    bottom: -2px;
    right: 4px;
}

/* lessons style */
.lessons-number img { /* open book icon style */
    position: relative;
    bottom: -5px;
    margin-right: 10px;
}
.lessons-number span{
    color: #6F6F6F;
}

/* For courses div horizontal line */
hr.bottom-line {
    margin: 1em 0;
    border-color: #6F6F6F;
    border-top: none;
    border-left: none;
    border-right: none;
}


/* Course status and duration */
.course-status-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6F6F6F;
}

.view-courses-button-div {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
}
/* View all courses button */
.view-courses-button {
    border-radius: 30px;
    padding: 12px 48px 12px 48px;
    background-color: #141E61;
    color: #FFF;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    position: relative;
    top: 5px;
    right: auto;
    display: inline-block;
}



/***
*********************
*********************
* Top categories section div
*********************
*********************
*/
.top-categories-section {
    margin: 5em 2em;
}

.top-categories-header {
    text-align: center;
    color: #141E61;
}

.top-categories-header h3 {
    margin: 0;
}

.top-categories-header img {
    margin: 0;
    width: 222px;
    position: relative;
    top: -16px;
}

.top-categories-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 10px;
    /*scrollbar-color: red;*/
    flex-wrap: nowrap;
    margin: 15px auto;
}


/* Style the children of the `top-categories-div` */
.top-categories-div .top-category-div:nth-child(1) .top-category-rec {
    background: #46FFA7;
}
.top-categories-div .top-category-div:nth-child(2) .top-category-rec {
    background: #A5DFFF;

}
.top-categories-div .top-category-div:nth-child(3) .top-category-rec {
    background: #FFE01E;
}

.top-category-div {
    width: 190px;
    height: 117px;
    text-align: center;
    margin: 0 6px;
    display: inline-block;
    white-space: nowrap;
}

.top-category-rec {
    height: 72px;
    /*background-color:#A5DFFF;*/
    text-align: center;
    border:1px solid #888;
    border-radius: 10px;
    align-items: center;
}

.top-category-ellipse-div {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.top-category-ellipse {
    border: 1px solid #888;
    max-width: fit-content;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: -30px;
    background-color: #EEE;
}


/**
* Media queries to handle responsiveness
*
*/

/* Styles for very small devices */
@media only screen and (max-width: 420px) {

}

/* Styles for phones and tablets */
@media only screen and (max-width: 768px) {

}

/* For small laptops and large desktops */
@media only screen and (min-width: 769px) {
    main {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .home-welcome-image-div img {
        width: auto;
        height: 564px;
    }

    .courses-section-with-arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow-left, .arrow-right {
        cursor: pointer;
        display: block;
        padding: 6px 2px;
    }

    .arrow-left:hover, .arrow-right:hover {
        background-color: #141E61;
        opacity: 0.2;
        transition: 0.3s;
    }

    .courses-section-div {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: 10px;
        scrollbar-color: #A5DFFF;
        transition: 0.5s;   
    }

    .courses-section-div::-webkit-scrollbar {
        height: 3px;
        color: #A5DFFF;
    }
      
    .courses-section-div::-webkit-scrollbar-thumb {
        background: #141E61;
      }

    .course-section {
        white-space: nowrap; /* Prevent text wrapping */
        margin-right: 10px;
    }

    .top-category-div {
        width: 348px;
        height: 162px;

}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    
}
  
/* For small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* For desktops */
@media only screen and (min-width: 1025px) {
    .stats-section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 4em;
    }
}