{% load static %}
<!--Footer Structure-->
<footer>
    <section>
        <div class="edubridge-main-div">
            <div class="edubridge-div">
                <h4>EduBridge</h4>
                <img src="{% static 'img/icons/footer_line.png' %}">
            </div>
            
            <p>Where passion meets possibility</p><br><br>
            <div>
                <a href="" class="footer-enroll-button">Enroll now</a>
            </div>
            <br>
            <br>
        </div>

        <div class="company-support-legal-div">
            <div class="company-div">
                <h6>Company</h6>
                <ul>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'pricing_page' %}">Pricing</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>

            <div class="support-div">
                <h6>Support</h6>
                <ul>
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Safety Center</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Guidelines</a></li>
                </ul>
            </div>

            <div class="legal-div">
                <h6>Legal</h6>
                <ul>
                    <li><a href="{% url 'cookies_policy' %}">Cookies Policy</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms_of_services' %}">Terms of Service</a></li>
                    <li><a href="">Law Enforcement</a></li>
                </ul>
            </div>
        </div>

        <div class="media-div">
            <h6>Follow Us</h6>
            <a href=""><img src="{% static 'img/icons/Facebook.png'%}"></a>
            <a href=""><img src="{% static 'img/icons/Instagram.png'%}"></a>
            <a href=""><img src="{% static 'img/icons/LinkedIn.png'%}"></a>
            <a href=""><img src="{% static 'img/icons/TwitterX.png'%}"></a><br>
        </div>

    </section>

    <p class="copyright-div">Copyright &copy; 2024, Edubridge. All right reserved</p>
</footer>