{% load static %}
<!--Navigation Structure-->
<header>	
	<a class="logo nav-link" href="{% url 'home' %}" data-url="{% url 'home' %}"><img src="{% static 'img/logo/logo.png' %}" alt="logo"></a>
    <!--<li><a href="#" class="nav-link" data-url="{% url 'home' %}">Home</a></li>-->
    
    <nav>
        <ul>
            <li><a href="{% url 'about' %}" class="nav-link" data-url="{% url 'about' %}">About</a></li>
            <li>
                <!--Dropdown button-->
                <button class="dropdown-button">
                <span class="button-text">Courses</span>
                <img class="chevron-down" src="{% static 'img/icons/chevron-down.png' %}" alt="chevron-down">
                </button>
                <!--Dropdown content-->
                <ul class="dropdown-content">
                    <hr>
                    <li><a href="">Business</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Design</a></li>
                    <hr>
                </ul>
            </li>
            <li><a href="{% url 'pricing_page' %}">Pricing</a></li>
            <li><a href="">Community</a></li>

            {% if user.is_authenticated %}
            <li><a class="login" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="login" href="{% url 'login' %}">Login</a></li>
            {% endif %}

            <li><a class="signup" href="{% url 'signup' %}">Signup</a></li>
        
        </ul>
    </nav>
    
    <div class="menu-button-div" style="display: block;">
        <button class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </button>
        </div>
    <!--<div class="menu-icon"><img src="{% static 'img/icons/menu.png' %}"></div>-->
</header>