{% load static %}
<!--Navigation Structure-->
<header>	
	<a class="logo" href=""><img src="{% static '/img/logo/logo.png' %}" alt="logo"></a>
    
    <nav>
        <ul>
            <li><a href="">About</a></li>
            <li>
                <!--Dropdown button-->
                <button class="dropdown-button">
                <span class="button-text">Courses</span>
                <img class="chevron-down" src="{% static 'img/icons/chevron-down.png' %}" alt="chevron-down">
                </button>
                <!--Dropdown content-->
                <ul class="dropdown-content">
                    <hr>
                    <li><a href="">Business</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Design</a></li>
                    <hr>
                </ul>
            </li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Community</a></li>

            <li><a class="login" href="">Login</a></li>
            <li><a class="signup" href="">Signup</a></li>
        
        </ul>
    </nav>
    
    <div style="display: block;">
        <button class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </button>
        </div>
    <!--<div class="menu-icon"><img src="{% static '/img/icons/menu.png' %}"></div>-->
</header>
