body {
    margin: 0;
    padding: 0;
}

.main-section {
    box-shadow: 0px 2px 4px 4px #C8C8C840;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 75px;
    text-align: center;
}

.inner-div {
    margin-top: 90px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 90px;
}

.img-div {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border:6px solid #A4A9C275;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}

.img-div-msg {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #888;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    outline: none;
    box-sizing: border-box;
    min-width: 100%;
}

.fa-regular {
    width: auto;
    color: #888;
}

.eye-icon-text {
    display: none;
    visibility: hidden;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-container input {
    padding-left: 60px;
}

.input-container .icon {
    position: absolute;
    left: 20px;
    top: 15px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent icon from affection input focus */
    color: #888;
}

.input-container .eye-icon {
    position: absolute;
    right: 20px;
    top: 10px;
    translate: translateY(-50%);
    cursor: pointer;
}

.submit-button {
    width: 100%;
    /*width: Hug (463px)px;
    height: Hug (51px)px;*/
    /*padding: 10px 113.5px 10px 113.5px;*/
    padding: 10px 20px 10px 20px;
    /*gap: 10px;*/
    border-radius: 30px;
    opacity: 0px;
    background: #141E61;
    box-shadow: 0px 3px 4px 0px #00000040;
    color: white;
    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

    border: none;
    margin-bottom: 30px;
    
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;

    text-align: center;
    text-decoration: none;
    color: #141E61;
    /*margin-top: 30px;*/
}

/**************************
*Password reset done styles
**************************/
.no-mail-div {
    margin-top: 24px;
}

.open-mail {
    /*width: 100%;*/
    background-color: #141E61;
    padding: 10px 90px 10px 90px;
    box-shadow: 0px 3px 4px 0px #00000040;
    color: white;
    border-radius: 20px;
    gap: 10px;
    display: inline-block;

}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.resend-mail {
    font-weight: bold;
    color: #141E61;
}

/*.back-to-login {
    margin-top: 21px;
}*/

/*****end styles ******/


/****Password Reset Confirm Styles *******/
.form-errors {
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.form-errors li {
    list-style-type: none;
}

@media only screen and (max-width: 325px) {
    .main-section {
        box-shadow: none;
    }
}

@media only screen and (max-width: 385px) {
    .open-mail {
        box-sizing: border-box;
        padding: 10px;
        /*padding: 10px 65px 10px 65px;*/
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .main-section {
        margin: 80px;
    }

    .inner-div {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .img-div {
        width: 64px;
        height: 64px;
    }

    .img-div-msg {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
    }

    h3 {
    
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-bottom: 35px;
    
    }

    input[type="email"], input[type="password"], input[type="text"] {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;

    }

    .submit-button {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        outline: none;
        border: none;
        margin-bottom: 43px;
        padding: 12px 158.5px 12px 158.5px;
    }

    a {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        text-decoration: none;
        margin-top: 43px;
    }

    /***********************
    **Paswword Reset Done Style**
    ****************************/
    .open-mail {
        width: Fixed (276px)px;
        height: Hug (41px)px;
        padding: 10px 119.5px 10px 119.5px;
        gap: 10px;
        border-radius: 20px;
        margin-top: 20px;
    }

    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .no-mail-div {
        margin-top: 31px;
    }

    /*.back-to-login {
        margin-top: 40px;
    }*/

    .form-errors {
        font-size: 16px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .inner-div {
        margin-left: 25px;
        margin-right: 25px;
        width: 350px;
    }

    /*.submit-button {
        padding-left: 20px;
        padding-right: 20px;
    }*/
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .inner-div {
        margin-left: 30px;
        margin-right: 30px;
        width: 450px;
    }

    .submit-button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .inner-div {
        width: 512px;
    }   
}