body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: black;
    overflow-x: hidden;
}

/* heading sytles h1 - h6 */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

/* header style */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #D8D7D7;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    position: static;
    width: auto;
    background-color: #FFF;
}

/* logo style */
.logo {
    margin-left: 0;
    width: auto;
    /*height: 89px;*/
}

nav {
  display: contents;
  z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 0px;
    padding: 10px 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.dropdown-button {
  display: inline-flex;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
}

/* Courses drop down icon styles */
.chevron-down {
  transition: 0.3s;
}

.chevron-up {
  transform: translateY(0%) rotate(180deg);
  transition: 0.3s;
}

/* Animation for the dropdown contents */
@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: max-content;
  }
}

/* Dropdown content styles */
.dropdown-content {
  display: contents;
  position:static;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out;
  /*left: auto;*/
  width: 100%;
  max-height: max-content;
  flex-direction: column;
  padding: 20px;
  align-items:start;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0px 2px 5px rgba(207, 201, 201, 0.726);*/
  list-style: none;
  /*overflow: hidden;*/
  transition: max-height 0.3s ease-out;
  z-index: 9999;
  display: none;
}

/*
.dropdown-content li a {
  border: 2px solid orange;
}
  */

.dropdown-content.show {
    display:block;
    transition: all 0.3s;
    animation: slideDown 0.3s ease-out;
}

.dropdown-button.show + .dropdown-content {
  max-height: auto;
  opacity: 1;
}
/* Menu icon styles */
.menu-icon {
    /*display: block;
    font-size: 24px;*/
    width: 20px;
    height: 20px;
    top: 35px;
    left: 340px;
    cursor: pointer;
    transition: 0.3s;
}

/* Rotate menu */
.rotate-hamburger {
  transform: translateY(0%) rotate(180deg);
  transition: 0.3s;
}

/* Signup */
.signup {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

/********************************
***********FOOTER STYLE**********
**********(GENERAL)**************/
footer {
  background-color: #0D1020;
  color: #FFF;
  font-size: 14px;
  width: 100%;
  /*position: absolute;*/
  /*padding:20px 0;*/

}

footer>section {
  margin: 5em 0;
  padding: 0 3em;
}

.edubridge-main-div {
  padding-top: 46px;
}

.edubridge-main-div p {
  margin: 0;
  line-height: 24px;
}

.edubridge-div {
  margin: 0;
}

.edubridge-div  h4{
  margin-bottom: 0;
  /*line-height: 48px;*/
  padding: 0;
}

.edubridge-div img {
  margin-top: 0;
  padding: 2px;
  max-width: 128px;
  position: relative;
  top: -8px;
}

.footer-enroll-button {
  background: #141E61A6;
  border-radius: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 10px 24px 10px 24px;
  text-decoration: none;
  
}

ul {
  padding-left: 0;
  margin-top: 0;
}

ul li {
  list-style-type: none;
  margin-left: 0;
}
ul li a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
}

.company-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.support-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
} 

.legal-div h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.company-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.company-support-legal-div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-div ul li {
  margin: 0.5em 0;
}

.support-div ul li {
  margin: 0.5em 0;
}

.legal-div ul li {
  margin: 0.5em 0;
}

/* Media div styles */
.media-div {
  max-width: inherit;
}

.media-div h6{
  margin-bottom: 0.5em;
}

/* media links style */
.media-div a {
  cursor: pointer;
}
.media-div a img {
  width: 33.75px;
  height: 30px;
  position: relative;
  left: -4px;
}

.copyright-div {
  display: block;
  background: #141E61A6;
  max-width: auto;
  padding: 18px 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

footer {
  padding-bottom: 40px;
}

footer>section {
  margin-top: 46px;
}
/*
*
*
*
*
*
*
/
/* Responsive styles */
/* Very small devices */
@media only screen and (max-width: 420px){
  body {
    overflow-x: auto;
  }
  
  header {
    display: block;
  }

  .logo {
    width: auto;
    height: auto;
  }

  header>.menu-icon {
    display: block;
  }

  /*
  header>nav {
    display: block;
    width: 100%;
    z-index: 9999;
    background-color: #FFF;
  }
    */
  
  nav.active {
    width: 100%;
  }

  nav ul {
    padding: 0;
    background-color: white;
  }

  /**footer styles**/
  footer {
    text-align: center;
  }

  .company-support-legal-div {
    display: block;
  }

  .media-div {
    display: block;
    text-align: center;
  }
}
/* For mobile devices */
@media only screen and (max-width: 768px) {
    body {
	    font-size: 14px;
    }

  header {
    display: flex;
    justify-content: space-between;
  }

  /* Add an animation to the nav */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  nav {
	  width: 50%;
    /*margin: 0 100px;*/
    display: none;
    transition: opacity 1s;
    position: absolute;
    top: -70px;
    right: 0px;
    background-color: white;
    /*animation: slideOut 0.3s ease-in-out;*/
  }
	
  nav.active {
    display: block;
    transform: translateX(0);
    animation: slideIn 0.3s ease-in-out;
  }

  nav.active ul{
    z-index: 9999;
    background-color: white;
  }

  nav>ul {
      display: block;
      position: absolute;
      right:0;
      margin: 10vh 0;
      /*height: 100vh;*/
      top: 14vh;
	    /*flex-direction: column;*/
	    width: 100%;
	    text-align: center;
	    /*border-top: 1px solid #888888;*/
	    /*border-bottom: 1px solid #888888;*/
      border-radius: 5px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      /*margin: 0 10px;*/
      z-index: 9999;
  }

  nav ul li {
	    margin-top: 2px;
	    margin-bottom: 2px;
  }

  .menu-icon.active + nav ul {
      display: flex;
      z-index: 9999;
  }

  .menu-icon {
	    display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: none;
      padding: 0;
      border: none;
  }

  .menu-icon span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
      transition: transform 0.3s ease-in-out;
  }

  /* Styles for the cancel button */
  .menu-icon.open span:first-child {
    transform: rotate(45deg) translate(0px, 10px);
  }

  .menu-icon.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(0px, -10px);
  }

  .dropdown-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dropdown-content.show {
    display: contents;
  }

  .dropdown-content hr {
    width: 70%;
  }
}

/*@media (max-width: 768px) {
    .menu-icon.active + nav ul {
        display: flex;
    }
}*/

/**************************
***************************
***STARTING FOR LAPTOPS***/
@media (min-width: 768px) {

    nav ul {
	      display: flex;
    }

    .logo {
      width: auto;
      /*height: 75px;*/
    }

    nav ul li {
	      margin-left: 30px;
    }

    nav ul li a {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }
    
    /* For courses dropdown */
    .button-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;  
    }

    nav ul li .login {
      margin-left: 35px;
      border: 1px solid;
      border-color: #141E61;
      color: #141E61;
    }

    .login, .signup {
      border-radius: 30px;
      padding: 12px 48px 12px 48px;
      box-shadow: 0px 3px 4px 0px #00000040;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }

    .signup {
      background-color: #141E61;
      color: #FFF;
      margin-left: 20px;
    }
    

    .menu-icon {
	      display: none;
    }

  .dropdown-content {
    width: 10%;
    display: none;
    position: absolute;
    max-height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(207, 201, 201, 0.726);
    text-align: center;
  }

  .dropdown-content li {
    position: relative;
    margin: 0;
  }

  .edubridge-main-div p {
    /*font-size: 16px;*/
    font-weight: 400;
    line-height: 24px;
    text-align: left;

  }

  footer {
    padding-bottom: 80px;
  }

  .copyright-div {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 97px;
    /*margin-bottom: 80px;*/
    padding-top: 11px;
    padding-bottom: 10px;
  }


}

/***************This media query is specifically for the responsiveness
of the footer section *********************************************/
@media (min-width: 850px) {
  /*******************
  *******FOOTER*******
  ******STYLES********/
  footer>section {
    display: flex;
    justify-content:flex-start;
    align-items: first baseline;
  }

  .edubridge-main-div {
    flex-grow: 0;
  }

  .company-support-legal-div {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

  .media-div {
    flex-grow: 0;
  }

}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  nav ul li a {
    font-size: 18px;
  } 
}

/* For small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
      width: auto;
      overflow-x: hidden;
    }

    nav ul li a {
	    font-size: 14px;
    }

    nav ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    nav ul li {
      margin-left: 10px;
    }

    nav ul li:nth-child(1) {
      margin-left: 0;
    }

    nav ul li a {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }

  /* For courses dropdown */
    .button-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;  
    }

    nav ul li .login {
      margin-left: 5px;
      border: 1px solid;
      border-color: #141E61;
      color: #141E61;
    }

    .login, .signup {
      border-radius: 30px;
      padding: 12px 48px 12px 48px;
      box-shadow: 0px 3px 4px 0px #00000040;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }

    .login {
      margin-left: 20px;
    }

    .signup {
      background-color: #141E61;
      color: #FFF;
      margin-left: 5px;
    }


    .dropdown-button, .dropdown-content {
      font-size: 14px;
    }

    /*.copyright-div {
      margin-left: 75px;
      margin-right: 75px;
    }*/
    
}

/* For desktops */
@media only screen and (min-width: 1025px) {
    footer>section {
      margin: 0 150px;
      padding: 0;
      /*margin: 5em 0;
      padding: 0 8em;*/
    }

    .copyright-div {
      margin-left: 150px;
      margin-right: 150px;
      /*padding: 18px 0;
      margin: 2em 8em;*/
    }
}

@media only screen and (min-width: 1200px) {
  /* Styles for large desktops */
  nav ul li {
    margin-left: 30px;
  }

  nav ul li a {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  /* For courses dropdown */
  .button-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;  
  }

  nav ul li .login {
    margin-left: 113px;
    border: 1px solid;
    border-color: #141E61;
    color: #141E61;
  }

  .login, .signup {
    border-radius: 30px;
    padding: 12px 48px 12px 48px;
    box-shadow: 0px 3px 4px 0px #00000040;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .signup {
    margin-left: 20px;
  }

}

/*
@media only screen and (min-width: 768px) and (max-width: 866px) {
  nav ul li a.login {
    margin-left: 5px;
  }
  .login, .signup {
    margin-left: 2px;
}

}*/
