{% load static %}

<meta name="page-title" content="Community1">

<link rel="stylesheet" href="{% static 'community/css/community.css' %}">

<div style="margin-top: 90px;" class="first-container">
    <div class="text-area">
        <div class="welcome">Welcome to</div>
        <div class="edu">EduBridge community where we are more than just an education Platform</div>
        <div class="we">We are a tight-knit community of diverse professionals,creative, and enterepreneurs coming together to redefine the way we work.</div>
        <div class="edubridge">EduBridge community</div>
        <div class="where">where we are more than just an education Platform. We are a tight-knit community of diverse professionals,creative, and enterepreneurs coming together to redefine the way we work.</div>
    </div>
    <div class="picture-area">
        <div class="elipse1">
            <div class="elipse2">
                <img src="{% static 'community/images/8e164bdd5bc0e848047f5acfe50202ce.png' %}">
            </div>
        </div>
    </div>
</div>

<div class="second-container">
    <div class="body-eclipse"></div>
    <div class="text-area2">
        <div class="community"> Community
            <div class="line"> <img src="{% static 'community/images/line.png' %}"></div>
        </div><br>
        <div class= "at">At EduBridge, we understand that the best work happens when you're surrounded by a community that inspires you. Join us in
        shapping the future of work, where the collaboration knows no bounds, and success is a collective journey.</div>
        
    </div>
    <div class="community-picture-area">
        <div class="community-picture-background">
            <div class="community-picture-frame1">
                <div class="community-picture1">
                    <img src="{% static 'community/images/female.png' %}">
                </div>
                <div class="card-section">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame1b">
                <div class="community-picture1b">
                    <img src="{% static 'community/images/female.png' %}">
                </div>
                <div class="card-section">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame1c">
                <div class="community-picture1c">
                    <img src="{% static 'community/images/female.png' %}">
                </div>
                <div class="card-section">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame1d">
                <div class="community-picture1d">
                    <img src="{% static 'community/images/female.png' %}">
                </div>
                <div class="card-section">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Mentor | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="community-picture-background2">
            <div class="community-picture-frame2">
                <div class="community-picture2">
                    <img src="{% static 'community/images/male.png' %}">
                </div>
                <div class="card-section2">
                    <div class="name">Johnson Ola</div>
                    <div class="mentor">Student | Buiness plan</div>
                    <div class="social2">
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame2b">
                <div class="community-picture2b">
                    <img src="{% static 'community/images/male.png' %}">
                </div>
                <div class="card-section2">
                    <div class="name">Johnson Ola</div>
                    <div class="mentor">student | Buiness plan</div>
                    <div class="social2">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame2c">
                <div class="community-picture2c">
                    <img src="{% static 'community/images/male.png' %}">
                </div>
                <div class="card-section2">
                    <div class="name">John Chioma</div>
                    <div class="mentor">Student | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-picture-frame2d">
                <div class="community-picture2d">
                    <img src="{% static 'community/images/male.png' %}">
                </div>
                <div class="card-section2">
                    <div class="name">Johnson Ola</div>
                    <div class="mentor">Student | Buiness plan</div>
                    <div class="social">
                        <div class="instagram">
                            <div class="circle">
                                <img src="{% static 'community/images/instagram.png' %}">
                            </div>
                        </div>
                        <div class="twitter">
                            <div class="circle">
                                <img src="{% static 'community/images/twitterX.png' %}">
                            </div>
                        </div>
                        <div class="linkedin">
                            <div class="circle">
                                <img src="{% static 'community/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button">
        <a href="community-list.html">
            <span>view all</span>
        </a>
        <div class="button-arrow">
            <img src="{% static 'community/images/arrow-right.png' %}">
        </div>           
    </button>
</div>

<div class="third-container">
    <div class="body-eclipse2"></div>
    <div class="community-event-frame">
        <div class="community-events"> Community Events
            <div class="community-event-line"> <img src="{% static 'community/images/line.png' %}"></div>
        </div>
        <div class="a">We take pride in curating a dynamic calendar of events and workshop designed to enrich the professional and personal
        lives of our community members. Here's a glimpse into some of the exciting activities we host.</div>
    </div>
    <div class="third-container-layout">
        <div class="community-event-picture-frame">
            <div class="community-event-picture">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="community-event-card">
                    <div class="card-name">Creative Jam Session</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>
            <div class="community-event-pictureb">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="community-event-card">
                    <div class="card-name">Skill-building Workshop</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>
            <div class="community-event-picturec">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="community-event-card">
                    <div class="card-name">Lunch and learn session</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>
            <div class="community-event-pictured">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="community-event-card">
                    <div class="card-name">Meet with mentors</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>
        </div>    
        <div class="mobile-responsive-frame">
            <div class="mobile-responsive1">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="mobile-responsive-card">
                    <div class="card-name">Lunch and learn session</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>      
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>

            <div class="mobile-responsive2">
                <img src="{% static 'community/images/community-event.png' %}">
                <div class="mobile-responsive-card">
                    <div class="card-name">Lunch and learn session</div>
                    <div class="motor">Unleash your creativity</div>
                    <div class="calendar">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Calendar.png' %}">
                        </div>
                        <div class="text">Aug 5th, 12:00-2:00PM</div> 
                    </div>
                    <div class="location">
                        <div class="rectangle">
                            <img src="{% static 'community/images/Location.png' %}">
                        </div>
                        <div class="text2">Landmark Event Center, VI, Lagos, Nigeria</div> 
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>